certifi~=2026.7.22
cffi~=2.1
charset-normalizer~=3.5
colorama~=0.4
filelock~=3.32
fsspec~=2026.7
idna~=3.19
Jinja2~=3.1
MarkupSafe~=3.0
networkx~=3.6
numpy~=2.5
onnx~=1.22
onnxruntime~=1.30
onnxscript~=0.7
pycparser~=3.0
requests~=2.34
scipy~=1.18
setuptools~=84.0
soundfile~=0.14
sympy~=1.14
torch~=2.14
torchvision~=0.29
torchaudio~=2.4
tqdm~=4.70
triton; sys_platform != 'win32'
triton-windows; sys_platform == 'win32'
typing_extensions~=4.16
urllib3~=2.8
yt-dlp~=2026.8
kaggle~=2.2
